@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", "Inter Fallback", system-ui, -apple-system, sans-serif;
  color: hsl(0 0% 98%);
  background-color: hsl(0 0% 3.9%);
  user-select: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
}
.animate-float {
  animation: float 10s ease-in-out infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
  50% {
    opacity: 0.4;
    transform: translateY(-2px);
  }
}

.animate-twinkle {
  animation: twinkle 4s ease-in-out infinite;
  background-size: cover;
}
